body {
    background-color: blanchedalmond;
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    padding: 10px;
    background-color: rgb(139, 197, 178);
    color:azure;
    margin:0;
    height:150px
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction:column;
    overflow-x: hidden
}  
.container {
    display: flex;
    align-items: center;
    margin-top: 15px;
    overflow-x: hidden;
}

nav {
    display: flex;
    font-size: larger;
    font-style: normal;
    padding: 0;
}

nav ul {
    display: flex;
    width: 100%;
    padding: 10px;
    list-style-type: none;
    flex-direction: row;
}

nav li {
    margin: 0 80px;
    text-align: center;
    position: relative;
}

nav li:not(:last-child)::after {
    content: '';
    position: absolute;
    height: 40px; 
    width: 2px; 
    background-color: rgb(139, 197, 178);
    top: 50%; 
    transform: translateY(-50%); 
    right: -90px;
}

h1, h3, h5, p{
    margin:0;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3{
    font-family: sans-serif;
    color: rgb(118, 167, 150);
    text-align: center;
    margin: 10px;
}
h5{
    text-align: left;
}
.profile-img img{
    width:150px;
    height:150px;
    image-rendering: optimizeQuality;
    border-radius: 50%;
    
}
section{
    margin-bottom: 20px;
}
.about{
    font-family: serif;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
}
.skills {
    display: flex;
    flex-direction: row;
    vertical-align: auto;
}

.html {
    text-align: left;
}

.html-img {
    text-align: left;
    width: 100px;
    height: 100px;
    opacity: 50%;
}

.html-p {
    text-align: right;
    opacity: 100%; /* Set opacity to 100% for the paragraph */
}

.css {
    text-align: left;
}

.css-img {
    text-align: left;
    width: 100px;
    height: 100px;
    opacity: 50%;
}

.css-p {
    text-align: right;
    opacity: 100%; /* Set opacity to 100% for the paragraph */
}

footer{
    text-align: center;
    padding: 10px;
    background-color: rgb(139, 197, 178);
    height: 100px;
    color: rgb(255, 255, 255);
}
.footer-contents{
    padding: 10px;
    color:rgb(255, 255, 255);
}
/*bye for now*/
