body {
    background-color: blanchedalmond;
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    padding: 10px;
    background-color: rgb(139, 197, 178);
    color:azure;
    margin:auto;
    height:150px}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    flex-direction:column;
}   
nav{
    display: flex;
    font-size: larger;
    font-style: normal;

    padding: 0;
}
nav ul{
    display: flex;
    width:100%;
    padding: 10px;
    list-style-type: none;
    flex-direction: row;
}
nav ul li{
    margin:70px;
    text-align: center;
}

h1, h3, h5, p{
    margin:0;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3, h5{
    font-family: sans-serif;
    color: rgb(118, 167, 150);
}

.profile-img img{
    width:150px;
    height:150px;
    image-rendering: optimizeQuality;
    border-radius: 50%;
    
}
      
